.app-container {
  margin-top: 20px;
}

.header {
  background-color: #0088cc;
}

.main-grid {
  height: 90vh;
}

.chat-list-grid, .chat-window-grid {
  height: 100%;
}

.chat-list {
  height: 100%;
  overflow-y: auto;
}

.chat-window {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .chat-list {
    width: 250px; 
  }
  .chat-window {
    flex: 1; 
  }
}


@media (max-width: 767px) {
  .chat-list {
    width: 100%; 
  }
  .chat-window {
    width: 100%; 
  }
}
